<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="public/lib/MDB_4_pro/css/bootstrap.min.css" rel="stylesheet">
    <!--    <link href="public/lib/MDB_4_pro/css/mdb.lite.min.css" rel="stylesheet">-->
    <link href="public/lib/MDB_4_pro/css/mdb.min.css" rel="stylesheet">
    <link href="public/lib/fontawesome-free-6.4.2-web/css/all.min.css" rel="stylesheet">
    <!--    <link href="public/lib/DataTables/datatables.min.css" rel="stylesheet">-->
    <link href="public/lib/DataTables/DataTables-1.13.6/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="public/lib/MDB_4_pro/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="resources/views/template/css/projectsmanage.css">
    <!---->
    <title>Thêm người dùng</title>
</head>
<body>
<main>
    <div class="container-fluid">
        <!-- Section: Team v.1 -->
        <section class="section team-section">
            <!-- Grid column -->
            <div class="edit-profile flex-center mt-5">

                <div class="col-md-8 mb-4">
                    <!-- Card -->
                    <div class="card card-cascade cascading-admin-card user-card">
                        <!-- Card content -->
                        <div class="card-body card-body-cascade">

                            <!-- Grid row -->
                            <div class="img-avatar flex-center">
                                <a class="img-avatar-edit">
                                    <img src="public/img/circle-user-solid (1).svg"
                                         class="rounded-circle"
                                         alt="User's Profile Picture" style="height: 200px">
                                    <div class="edit-icon flex-center">
                                        <p>Đổi hình đại diện</p>
                                    </div>
                                </a>

                            </div>
                            <div class="row">

                                <!-- Grid column -->
                                <div class="col-lg-4">

                                    <div class="md-form form-sm mb-0">
                                        <input type="text" id="form12" class="form-control form-control-sm">
                                        <label for="form12" class="">Họ và tên</label>
                                    </div>

                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-lg-4">
                                    <div class="md-form form-sm mb-0">
                                        <input type="date" id="date-picker-example"
                                               class="form-control datepicker">
                                        <label for="form4">Ngày sinh</label>
                                    </div>

                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-lg-4">

                                    <div class="md-form form-sm mb-0">
                                        <input type="number" id="form4" class="form-control form-control-sm">
                                        <label for="form4" class="disabled">SĐT</label>
                                    </div>

                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                            <!-- Grid row -->
                            <div class="row">

                                <!-- Grid column -->
                                <div class="col-lg-6 col-md-10">

                                    <div class="md-form form-sm mb-0">
                                        <input type="text" id="form3" class="form-control form-control-sm">
                                        <label for="form3" class="">Địa chỉ / Tỉnh thành </label>
                                    </div>

                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-lg-2 col-md-3">
                                    <!-- Material unchecked -->
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                                        <label class="form-check-label" for="materialUnchecked">Nam</label>
                                    </div>
                                </div>
                                <!-- Grid column -->
                                <!-- Grid column -->
                                <div class="col-lg-2 col-md-3">
                                    <!-- Material indeterminate -->
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="materialIndeterminate2"
                                               checked>
                                        <label class="form-check-label" for="materialIndeterminate2">Nữ</label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-lg-4 col-md-6">

                                    <div class="md-form form-sm mb-0">
                                        <input type="email" id="form8" class="form-control form-control-sm">
                                        <label for="form8" class="">Email</label>
                                    </div>

                                </div>
                                <div class="col-lg-4 col-md-6">

                                    <div class="md-form form-sm mb-0">
                                        <input type="password" id="form9" class="form-control form-control-sm">
                                        <label for="form9" class="">Password</label>
                                    </div>

                                </div>
                                <div class="col-lg-4 col-md-6">

                                    <div class="md-form form-sm mb-0">
                                        <input type="password" id="form10" class="form-control form-control-sm">
                                        <label for="form10" class="">Nhập lại Password</label>
                                    </div>

                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                            <!-- Grid row -->
                            <div class="btn-save flex-center">
                                <a class="btn btn-red waves-effect waves-light text-uppercase"> Thêm người dùng</a>
                            </div>
                        </div>
                        <!-- Card content -->

                    </div>
                    <!-- Card -->

                </div>

            </div>
            <!-- Grid column -->
        </section>
        <!-- Section: Team v.1 -->

    </div>
</main>
<script src="resources/views/template/js/swiper-bundle.min.js"></script>
<script src="public/lib/MDB_4_pro/js/jquery.min.js"></script>
<script src="public/lib/MDB_4_pro/js/popper.min.js"></script>
<script src="public/lib/MDB_4_pro/js/bootstrap.min.js"></script>
<script src="public/lib/MDB_4_pro/js/mdb.min.js"></script>
<script src="public/lib/MDB_4_pro/js/mdb.lite.min.js"></script>
<script src="resources/views/template/js/post-menu.js"></script>

</body>
</html>
