<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="public/lib/MDB_4_pro/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/lib/MDB_4_pro/css/mdb.min.css" rel="stylesheet">
    <link href="public/lib/MDB_4_pro/css/style.css" rel="stylesheet">
    <link href="public/lib/fontawesome-free-6.4.2-web/css/all.min.css" rel="stylesheet">
    <link href="resources/views/template/css/admin-nav-bar.css" rel="stylesheet">
    <link href="public/lib/DataTables/DataTables-1.13.6/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="public/lib/DataTables/DataTables-1.13.6/css/dataTables.bootstrap4.css" rel="stylesheet">
</head>
<body class="">

<!-- Sidebar navigation -->
<div class="wrapper">
    <div class="header sticky-top">
        <div class="header-menu row m-0">
            <div class="col-11 d-flex align-items-center">
                <div class="sidebar-btn mr-3">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="title text-uppercase">
                    Xây dựng <span>Nhà Đẹp</span></div>
            </div>
            <ul class="col-1 d-flex align-items-center m-0">
                <li><a href="#"><i class="fas fa-sign-out-alt"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="sidebar">
        <div class="sidebar-menu">
            <center class="logo">
                <img src="public/img/logo.svg" alt="logo" style="width: 100px">
            </center>
            <li class="item">
                <a href="#" class="menu-btn">
                    <i class="fas fa-desktop"></i><span>Thống kê</span>
                </a>
            </li>
            <li class="item" id="user">
                <a href="#user" class="menu-btn">
                    <i class="fas fa-user-circle"></i><span>QL Người dùng</span>
                </a>
            </li>
            <li class="item" id="project">
                <a href="#project" class="menu-btn">
                    <i class="fa-solid fa-building"></i><span>QL Dự án <i
                    class="m-0 fas fa-chevron-circle-down drop-down"></i></span>
                </a>
                <div class="sub-menu">
                    <a href="#type-project" class="menu-btn">
                        <i class="fa-solid fa-building m-0"> </i> <i class="fa-solid fa-folder-tree"></i><span>QL loại dự án</span>
                    </a>
                    <a href="#blog-project" class="menu-btn">
                        <i class="fa-solid fa-newspaper"></i><span>QL Bài viết dự án</span>
                    </a>
                </div>
            </li>

            <li class="item" id="type-project">
                <a href="#type-project" class="menu-btn">
                    <i class="fa-solid fa-toolbox"></i><span>QL Dịch vụ</span><i
                    class="m-0 fas fa-chevron-circle-down drop-down"></i></span>
                </a>
                <div class="sub-menu">
                    <a href="#blog-service" class="menu-btn">
                        <i class="fa-solid fa-newspaper"></i><span>QL Bài viết dịch vụ</span>
                    </a>
                </div>
            </li>
            <li class="item" id="contact">
                <a href="#contact" class="menu-btn">
                    <i class="fa-solid fa-file-contract"></i></i><span>QL Bài viết liên hệ</span><i
                    class="m-0 fas fa-chevron-circle-down drop-down"></i></span>
                </a>
                <div class="sub-menu">
                    <a href="#type-contact" class="menu-btn">
                        <i class="fa-solid fa-file-contract"></i><span>QL Loại bài viết dịch vụ</span>
                    </a>
                </div>
            </li>
        </div>
    </div>
    <div class="main-container">
        <section class="section team-section">
            <!-- Grid column -->
            <div class="edit-profile flex-center mt-5">
                <div class="col-md-8 mb-4">
                    <!-- Card -->
                    <div class="card card-cascade cascading-admin-card user-card">
                        <!-- Card content -->
                        <div class="card-body card-body-cascade">
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-lg-4">
                                    <div class="md-form form-sm mb-0">
                                        <input type="text" id="form12" class="form-control form-control-sm">
                                        <label for="form12" class="">Họ và tên</label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-lg-4">
                                    <div class="md-form form-sm mb-0">
                                        <input type="date" id="date-picker-example"
                                               class="form-control datepicker">
                                        <label for="form4">Ngày sinh</label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-lg-4">
                                    <div class="md-form form-sm mb-0">
                                        <input type="number" id="form4" class="form-control form-control-sm">
                                        <label for="form4" class="disabled">SĐT</label>
                                    </div>
                                </div>
                                <!-- Grid column -->
                            </div>
                            <!-- Grid row -->

                            <!-- Grid row -->
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-lg-6 col-md-10">
                                    <div class="md-form form-sm mb-0">
                                        <input type="text" id="form3" class="form-control form-control-sm">
                                        <label for="form3" class="">Địa chỉ / Tỉnh thành </label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-lg-2 col-md-3">
                                    <!-- Material unchecked -->
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                                        <label class="form-check-label" for="materialUnchecked">Nam</label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-lg-2 col-md-3">
                                    <!-- Material indeterminate -->
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="materialIndeterminate2"
                                               checked>
                                        <label class="form-check-label" for="materialIndeterminate2">Nữ</label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-lg-4 col-md-6">
                                    <div class="md-form form-sm mb-0">
                                        <input type="email" id="form8" class="form-control form-control-sm">
                                        <label for="form8" class="">Email</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="md-form form-sm mb-0">
                                        <input type="password" id="form9" class="form-control form-control-sm">
                                        <label for="form9" class="">Password</label>
                                    </div>
                                </div>
                                <!-- Grid column -->
                            </div>
                            <!-- Grid row -->

                            <!-- Grid row -->
                            <div class="row">

                            </div>
                            <!-- Grid row -->

                            <!-- Grid row -->
                            <div class="row flex-center">
                                <div class="col-lg-4">
                                    <select class="browser-default custom-select mb-4 mt-4">
                                        <option value="" disabled>Chọn nội dung</option>
                                        <option value="1" selected>Thủ tục hành chính</option>
                                        <option value="2">Đặt lịch tư vấn</option>
                                        <option value="3">Báo giá chi tiết</option>
                                        <option value="4">Báo lỗi trang web</option>
                                        <option value="5">Khác</option>
                                    </select>
                                </div>

                                <div class="col-lg-4">
                                    <select class="browser-default custom-select mb-4 mt-4">
                                        <option value="" disabled>Chọn nội dung</option>
                                        <option value="1" selected>Thủ tục hành chính</option>
                                        <option value="2">Đặt lịch tư vấn</option>
                                        <option value="3">Báo giá chi tiết</option>
                                        <option value="4">Báo lỗi trang web</option>
                                        <option value="5">Khác</option>
                                    </select>
                                </div>
                            </div>
                            <!--Grid row-->

                            <!-- Grid row -->
                            <div class="btn-save flex-center">
                                <a class="btn btn-red waves-effect waves-light text-uppercase"> Thêm người dùng</a>
                            </div>
                        </div>
                        <!-- Card content -->
                    </div>
                    <!-- Card -->
                </div>
            </div>
            <!-- Grid column -->
        </section>
    </div>
</div>
<!--/. Sidebar navigation -->
</body>


<script src="public/lib/MDB_4_pro/js/jquery.min.js"></script>
<script src="public/lib/MDB_4_pro/js/popper.min.js"></script>
<script src="public/lib/MDB_4_pro/js/bootstrap.min.js"></script>
<script src="public/lib/MDB_4_pro/js/mdb.min.js"></script>
<script src="public/lib/DataTables/DataTables-1.13.6/js/jquery.dataTables.min.js"></script>
<script src="public/lib/DataTables/DataTables-1.13.6/js/dataTables.bootstrap4.min.js"></script>
<script>

</script>
<script>
    (function ($) {
        $.fn.counter = function () {
            const $this = $(this),
                numberFrom = parseInt($this.attr('data-from')),
                numberTo = parseInt($this.attr('data-to')),
                delta = numberTo - numberFrom,
                deltaPositive = delta > 0 ? 1 : 0,
                time = parseInt($this.attr('data-time')),
                changeTime = 10;

            let currentNumber = numberFrom,
                value = delta * changeTime / time;
            var interval1;
            const changeNumber = () => {
                currentNumber += value;
                //checks if currentNumber reached numberTo
                (deltaPositive && currentNumber >= numberTo) || (!deltaPositive && currentNumber <= numberTo) ? currentNumber = numberTo : currentNumber;
                this.text(parseInt(currentNumber));
                currentNumber == numberTo ? clearInterval(interval1) : currentNumber;
            }

            interval1 = setInterval(changeNumber, changeTime);
        }
    }(jQuery));

    $(document).ready(function () {

        $('.count-up').counter();
        $('.count1').counter();
        $('.count2').counter();
        $('.count3').counter();

        new WOW().init();

        setTimeout(function () {
            $('.count5').counter();
        }, 3000);
    });
</script>
<script>
    $(document).ready(function () {
        $(".sidebar-btn").click(function () {
            $(".wrapper").toggleClass("mycollapse");
        });
    });</script>
</body>
</html>
