<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/views/template/css/contact.css">
    <link href="public/lib/MDB_4_pro/css/bootstrap.min.css" rel="stylesheet">
    <!--    <link href="public/lib/MDB_4_pro/css/mdb.lite.min.css" rel="stylesheet">-->
    <link href="public/lib/MDB_4_pro/css/mdb.min.css" rel="stylesheet">
    <link href="public/lib/MDB_4_pro/css/style.css" rel="stylesheet">
    <link href="public/lib/fontawesome-free-6.4.2-web/css/all.min.css" rel="stylesheet">
</head>
<body>
<!--start header-->
<header>


</header>
<!--end header-->

<!--start Navigation-->


<nav class="navbar navbar-expand-lg navbar-light white sticky-top  nav-property justify-content-center">
    <div class="container">
        <a class="navbar-brand "
           href="http://localhost/RealEstateWeb/template_main">
            <div class="navbar-brand flex-center justify-content-between ">
                <img class="mr-3 ml-4 " src="/RealEstateWeb/public/img/logo.jpg" style="width: 60px">


                <h6 class=" text-uppercase mb-2 mt-2 font-weight-bold" style="color: #E90808">XÂY DỰNG NHÀ ĐẸP</h6>

            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
                aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse border-left row" id="navbarSupportedContent-555">
            <ul class="navbar-nav  justify-content-between col-9 border-right">
                <li class="nav-item nav-menuItem font-weight-bolder">
                    <a class="nav-link " href="#">Trang Chủ
                    </a>
                </li>
                <li class="nav-item nav-menuItem  font-weight-bolder">
                    <a class="nav-link " href="#">Giới Thiệu</a>
                </li>
                <li class="nav-item dropdown nav-menuItem nav-dropdownItem font-weight-bolder">
                    <a class="nav-link dropdown-toggle dropdown-submenu" id="navbarDropdownMenuLink-444"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Dịch vụ
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" style="font-size: 16px" href="#">Xây Nhà Thô</a>
                        <a class="dropdown-item" style="font-size: 16px" href="#">Xây Biệt Thự</a>
                        <a class="dropdown-item" style="font-size: 16px" href="#">Xây Nhà Xưởng</a>
                    </div>
                </li>
                <li class="nav-item dropdown nav-menuItem nav-dropdownItem font-weight-bolder">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-555" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Dự án
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-555">
                        <a class="dropdown-item" style="font-size: 16px" href="#">Biệt Thự</a>
                        <a class="dropdown-item" style="font-size: 16px" href="#">Nhà Phố</a>
                        <a class="dropdown-item" style="font-size: 16px" href="#">Văn Phòng</a>
                    </div>
                </li>
                <li class="nav-item nav-menuItem font-weight-bolder">
                    <a class="nav-link " id="nav-menuItem-active" href="#">Liên Hệ</a>
                </li>
            </ul>
            <!--icon font ring-->
            <div class="phone-contain flex-center justify-content-between col-2">

                <div class="icon-phone-ring">
                    <i class="fa-solid fa-phone"></i>
                    <div class="circle-1"></div>
                    <!--            <div class="circle-2"></div>-->
                </div>
                <p class="mt-1 ml-5 pl-3">0352033199</p></div>
        </div>
    </div>
</nav>
<!--end Navigation-->

<!--start content-->
<div class="container">
    <!--        Start breadcrumb -->
    <div id="section-1" class="bc-icons-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white small" style="">
                <li class="breadcrumb-item">
                    <a class="black-text breadcrumb-size hover-red" href="/">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li>
                    <i class="fas fa-caret-right mx-2 black-brown-text" aria-hidden="true"></i>
                </li>
                <li class="breadcrumb-item active breadcrumb-size">
                    <a class="text-uppercase font-weight-bolder black-text" href="#">LIÊN HỆ</a>
                </li>
            </ol>
        </nav>
    </div>
    <!--    end breadcrumb-->
    <div id="card" class="container">
        <div>
            <h5 class="section-heading h1 pt-4 text-center bottom redbockdoor font-weight-bold">Gửi thư đến chúng
                tôi</h5>
        </div>
        <div class="row d-flex flex-wrap bg-light">
            <div class="item col-lg-6 col-md-12 col-sm-12 w-100">
                <img class="w-100"
                     src="https://cms.luatvietnam.vn/uploaded/Images/Original/2020/01/17/gia-nhan-cong-xay-dung_1701151934.jpg">
            </div>
            <div class="item col-lg-6 col-md-10 col-sm-12 w-100">
                <div>
                    <p class="text-uppercase text-center font-weight-bold p-lg-4">thông tin liên hệ</p>
                </div>
                <div class="bg-white listContent">
                    <ul class="align-content-lg-start p-0">
                        <li class="text-center">
                            <p class="font-weight-bold">CÔNG TY XÂY DỰNG TMĐT NHÀ XINH</p>
                            <p>Địa chỉ: 254/5/41 Lê Văn Thọ, P.11, Q. Gò Vấp, TP HCM</p>
                            <p>Số Điện Thoại: 0935 671 886 </p>
                            <p>Email: xaydungnhaxinh72@gmail.com</p>
                            <p>Website: nhaxinh.asia</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--    end wraper contact-->
    <div id="section-3">
        <!--Section: Contact v.1-->
        <section class="section pb-5">
            <!--Section heading-->

            <!--Section description-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-5 mb-4">
                    <!--Form with header-->
                    <div class="card">
                        <div class="card-body">
                            <!--Header-->
                            <!--Body-->
                            <div class="md-form">
                                <i class="fas fa-user prefix grey-text"></i>
                                <input type="text" id="form-name" class="form-control">
                                <label for="form-name">Họ và tên</label>
                            </div>

                            <div class="md-form">
                                <i class="fas fa-envelope prefix grey-text"></i>
                                <input type="text" id="form-email" class="form-control">
                                <label for="form-email">Địa chỉ email</label>
                            </div>
                            <div class="text-center black-brown-text">
                                <label>Chủ đề</label>
                                <select class="browser-default custom-select mb-4">
                                    <option value="" disabled>Chọn nội dung</option>
                                    <option value="1" selected>Thủ tục hành chính</option>
                                    <option value="2">Báo giá chi tiết</option>
                                    <option value="3">Báo lỗi trang web</option>
                                    <option value="4">Khác</option>
                                </select>
                            </div>

                            <!-- Message -->
                            <div class="form-group">
                                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"
                                          placeholder="Lời nhắn"></textarea>
                            </div>


                            <div class="text-center mt-4">


                                <button class="btn btn-red">Gửi ngay</button>
                            </div>
                        </div>
                    </div>
                    <!--Form with header-->

                </div>

                <div class="col-lg-7">

                    <!--Google map-->
                    <div id="map-container-google-11" class="z-depth-1-half map-container-6"
                         style="height: 453px">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4247.872564543886!2d106.79040908333542!3d10.870529759247004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276398969f7b%3A0x9672b7efd0893fc4!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBOw7RuZyBMw6JtIFRQLiBI4buTIENow60gTWluaA!5e0!3m2!1svi!2s!4v1695713054142!5m2!1svi!2s"
                            width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">

                        </iframe>
                    </div>

                    <br>
                    <!--Buttons-->

                </div>
            </div>
        </section>
        <!--Section: Contact v.1-->
    </div>
    <!--    end main contact-->
</div>
<!--end content-->

<!--start footer-->
<footer class="page-footer font-small pt-2 container">

    <!-- Footer Links -->
    <div class="container text-center text-md-left" style="max-width: 90%">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-4 mx-auto mt-3">
                <div class="row ">
                    <img class="col-auto" src="/RealEstateWeb/public/img/logo.jpg">
                    <h5 class="col-auto  text-uppercase mb-2 mt-2 font-weight-bold main-color">Real
                        Estate
                        Gig</h5>
                </div>
                <p style="color: #656565; margin-top: 2%">Real Estate Gig là đơn vị chuyên thi công thiết kế xây dựng,
                    trang trí nội
                    ngoại thất công trình với nhiều năm kinh nghiệm.</p>
                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-fb mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="hoverable btn-floating btn-email mx-1">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="hoverable btn-floating mx-1">
                                <img class="hoverable-img mx-0 "
                                     src="/RealEstateWeb/public/img/snapedit_1694631625483.png"
                                     style="width: 45px">
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- end Social Buttons -->
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold" style="color: #4A4A4A">Thông tin liên
                    <hệ></hệ>
                </h6>
                <p>
                    <span style="color: #656565">Địa chỉ: 254/5/41 Lê Văn Thọ, P.11, Q. Gò Vấp, TP. HCM</span>
                </p>
                <p>
                    <span style="color: #656565">Số Điện Thoại: 0935 671 886</span>
                </p>
                <p>
                    <span style="color: #656565">Email: RealEstateGig@gmail.com</span>
                </p>
                <p>
                    <span style="color: #656565">Website: RealEstateGig.com</span>
                </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold" style="color: #4A4A4A">Thông tin dịch vụ</h6>
                <p>
                    <a class="f-link" href="#!">Thiết kế, xây dựng nội thất</a>
                </p>
                <p>
                    <a class="f-link" href="#!">Xây nhà thô</a>
                </p>
                <p>
                    <a class="f-link" href="#!">Xây biệt thự</a>
                </p>
                <p>
                    <a class="f-link " href="#!">Xây hầm</a>
                </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->

            <!-- Grid column -->

        </div>
        <!-- Footer links -->


    </div>
    <!-- Footer Links -->

</footer>
<!--end footer-->


<!--start script -->
<!-- end script-->


<script src="resources/views/template/js/main.js"></script>
<script src="public/lib/MDB_4_pro/js/jquery.min.js"></script>
<script src="public/lib/MDB_4_pro/js/popper.min.js"></script>
<script src="public/lib/MDB_4_pro/js/bootstrap.min.js"></script>
<script src="public/lib/MDB_4_pro/js/mdb.min.js"></script>
<script src="public/lib/MDB_4_pro/js/mdb.lite.min.js"></script>

</body>

</html>
