<!DOCTYPE html>

<html lang="en">
<body>
<!--start header-->
<header>


</header>
<!--end header-->

<!--start Navigation-->
<nav class="navbar navbar-expand-lg navbar-light sticky-top nav-property ">
    <div class="container">
        <a class="navbar-brand "
           href="http://localhost/RealEstateWeb/template_main">
            <div class="navbar-brand flex-center justify-content-between ">
                <img class="mr-3 ml-4 " src="/RealEstateWeb/public/img/logo.jpg" style="width: 60px">
                <h4 class=" text-uppercase mb-2 mt-2 font-weight-bold main-color">XÂY DỰNG NHÀ ĐẸP</h4>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
                aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse border-left row  align-items-center" id="navbarSupportedContent-555">
            <ul class="navbar-nav  col-9 border-right">
                <li class="nav-item nav-menuItem font-weight-bolder " id="nav-menuItem-active">
                    <a class="nav-link " href="http://localhost/RealEstateWeb/">Trang Chủ
                    </a>
                </li>
                <li class="nav-item nav-menuItem  font-weight-bolder">
                    <a class="nav-link " href="http://localhost/RealEstateWeb/intro">Giới Thiệu</a>
                </li>
                <li class="d-flex align-items-center nav-item
                nav-menuItem position-relative font-weight-bolder nav-dropdownItem"
                >
                    <a class="nav-link "
                       href="http://localhost/RealEstateWeb/services"
                       role="link"
                    >Dịch vụ
                    </a>
                    <i class="fa-solid fa-angle-down position-absolute  " style="color: #000000;"></i>
                    <div class="dropdown-menu mt-1 w-100">
                        <a class="dropdown-item" style="font-size: 16px" href="#">Xây Nhà Thô</a>
                        <a class="dropdown-item" style="font-size: 16px" href="#">Xây Biệt Thự</a>
                        <a class="dropdown-item" style="font-size: 16px" href="#">Xây Nhà Xưởng</a>
                    </div>

                </li>
                <li class="d-flex align-items-center nav-item
                nav-menuItem position-relative font-weight-bolder nav-dropdownItem"
                >
                    <a class="nav-link"
                       href="http://localhost/RealEstateWeb/project"
                       role="link"
                    >Dự án
                    </a>
                    <i class="fa-solid fa-angle-down position-absolute  " style="color: #000000;"></i>
                    <div class="dropdown-menu mt-1 w-100">
                        <a class="dropdown-item" style="font-size: 16px" href="#">Biệt Thự</a>
                        <a class="dropdown-item" style="font-size: 16px" href="#">Nhà Phố</a>
                        <a class="dropdown-item" style="font-size: 16px" href="#">Văn Phòng</a>
                    </div>
                </li>
                <li class="nav-item nav-menuItem font-weight-bolder">
                    <a class="nav-link" href="http://localhost/RealEstateWeb/contact">Liên Hệ</a>
                </li>
            </ul>
            <!--icon font ring-->
            <div class="phone-contain flex-center justify-content-center col-3">

                <div class="icon-phone-ring col-lg-6 col-md-6 col-sm-12 ">
                    <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-phone"></i>
                        <i class="circle-1"></i>
                        <!--            <div class="circle-2"></div>-->
                    </div>
                </div>
                <div>
                    <a class=" col-lg-6 col-md-6">0352033199</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--end Navigation-->

<!--start content-->
<div class="container" style="font-family: Inter-Regular, Arial, Helvetica, sans-serif">
    <div class="text-center" style="margin-top: 20px; margin-bottom: 20px">
        <h2>Liên hệ với chúng tôi</h2>
    </div>
    <div class="text-center">
        <p>Chúng tôi muốn lắng nghe ý kiến của bạn, mọi lúc!</p>
    </div>
    <!--    contact info-->
    <div>

    </div>
</div>
<!--end content-->

<!--start footer-->
<footer class="page-footer font-small pt-2 container">

    <!-- Footer Links -->
    <div class="container text-center text-md-left" style="max-width: 90%">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-4 mx-auto mt-3">
                <div class="row ">
                    <img class="col-auto" src="/RealEstateWeb/public/img/logo.svg">
                    <h5 class="col-auto  text-uppercase mb-2 mt-2 font-weight-bold main-color">Real
                        Estate
                        Gig</h5>
                </div>
                <p style="color: #656565; margin-top: 2%">Real Estate Gig là đơn vị chuyên thi công
                    thiết kế xây dựng,
                    trang trí nội

                    ngoại thất công trình với nhiều năm kinh nghiệm.</p>
                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-fb mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="hoverable btn-floating btn-email mx-1">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <img class="hoverable mx-1"
                                 src="/RealEstateWeb/public/img/snapedit_1694631625483.png"
                                 style="width: 50px">
                        </li>
                    </ul>
                </div>
                <!-- end Social Buttons -->
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold" style="color: #4A4A4A">Thông tin
                    liên
                    <hệ></hệ>
                </h6>
                <p>
                    <span style="color: #656565">Địa chỉ: 254/5/41 Lê Văn Thọ, P.11, Q. Gò Vấp, TP. HCM</span>
                </p>
                <p>
                    <span style="color: #656565">Số Điện Thoại: 0935 671 886</span>
                </p>
                <p>
                    <span style="color: #656565">Email: RealEstateGig@gmail.com</span>
                </p>
                <p>
                    <span style="color: #656565">Website: RealEstateGig.com</span>
                </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold" style="color: #4A4A4A">Thông tin
                    dịch vụ</h6>
                <p>
                    <a class="f-link" href="#!">Thiết kế, xây dựng nội thất</a>
                </p>
                <p>
                    <a class="f-link" href="#!">Xây nhà thô</a>
                </p>
                <p>
                    <a class="f-link" href="#!">Xây biệt thự</a>
                </p>
                <p>
                    <a class="f-link " href="#!">Xây hầm</a>
                </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->

            <!-- Grid column -->

        </div>
        <!-- Footer links -->


    </div>
    <!-- Footer Links -->

</footer>
<!--end footer-->


<!--start script -->
<!-- end script-->


<script src="resources/views/template/js/main.js"></script>
<script src="public/lib/MDB_4_pro/js/jquery.min.js"></script>
<script src="public/lib/MDB_4_pro/js/popper.min.js"></script>
<script src="public/lib/MDB_4_pro/js/bootstrap.min.js"></script>
<script src="public/lib/MDB_4_pro/js/mdb.min.js"></script>
<script src="public/lib/MDB_4_pro/js/mdb.lite.min.js"></script>

</body>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="public/lib/MDB_4_pro/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/lib/MDB_4_pro/css/mdb.lite.min.css" rel="stylesheet">
    <link href="public/lib/MDB_4_pro/css/mdb.min.css" rel="stylesheet">
    <link href="public/lib/MDB_4_pro/css/style.css" rel="stylesheet">
    <!--<link href="/lib/fontawesome-free-6.4.2-web/css/fontawesome.min.css" rel="stylesheet"> -->
    <link href="public/lib/fontawesome-free-6.4.2-web/css/all.min.css" rel="stylesheet">
    <!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">-->
</head>
</html>
