<!DOCTYPE html>

<html lang="en">
<body>
<!--start header-->
<header>


</header>
<!--end header-->

<!--start Navigation-->

<nav class="navbar navbar-expand-lg navbar-light white sticky-top nav-property">
    <a class="navbar-brand ml-5 mr-0 pl-5 pr-2 pt-1 pb-1 "
       href="http://localhost/RealEstateWeb/template_main">
        <div class="navbar-brand flex-center justify-content-between ">
            <img class="mr-3 ml-4 " src="/RealEstateWeb/public/img/logo.svg" style="width: 60px">

            <h4 class=" text-uppercase mb-2 mt-2 font-weight-bold" style="color: #E90808">Real
                Estate
                Gig</h4>
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
            aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
        <ul class="navbar-nav border-left border-right">
            <li class="nav-item font-weight-bolder">
                <a class="nav-link nav-menuItem " id="" href="#">Trang Chủ
                </a>
            </li>
            <li class="nav-item font-weight-bolder">

                <a class="nav-link nav-menuItem " href="#">Giới Thiệu</a>
            </li>
            <li class="nav-item dropdown nav-dropdownItem font-weight-bolder">
                <a class="nav-link nav-menuItem dropdown-toggle dropdown-submenu" id="navbarDropdownMenuLink-444"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Dịch vụ
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" style="font-size: 16px" href="#">Xây Nhà Thô</a>
                    <a class="dropdown-item" style="font-size: 16px" href="#">Xây Biệt Thự</a>
                    <a class="dropdown-item" style="font-size: 16px" href="#">Xây Nhà Xưởng</a>
                </div>
            </li>
            <li class="nav-item dropdown nav-dropdownItem font-weight-bolder">
                <a class="nav-link nav-menuItem dropdown-toggle" id="navbarDropdownMenuLink-555" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Dự án
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-555">
                    <a class="dropdown-item" style="font-size: 16px" href="#">Biệt Thự</a>
                    <a class="dropdown-item" style="font-size: 16px" href="#">Nhà Phố</a>
                    <a class="dropdown-item" style="font-size: 16px" href="#">Văn Phòng</a>
                </div>
            </li>
            <li class="nav-item font-weight-bolder">
                <a class="nav-link nav-menuItem" id="nav-menuItem-active" href="#">Liên Hệ</a>
            </li>
        </ul>
        <!--icon font ring-->
        <div class="phone-contain flex-center justify-content-between ">

            <div class="icon-phone-ring">
                <i class="fa-solid fa-phone"></i>
                <div class="circle-1"></div>
                <!--            <div class="circle-2"></div>-->
            </div>
            <p class="mt-1 ml-5 pl-3">0352033199</p></div>

    </div>

</nav>
<!--end Navigation-->

<!--start content-->
<div class="container" style="font-family: Inter-Regular, Arial, Helvetica, sans-serif">
    <!--        Thanh điều hướng phụ -->
    <div style=" margin-left: 10px; margin-top: 30px;" class="bc-icons-2">
        <!--        <nav aria-label="breadcrumb">-->
        <!--            <ol class="breadcrumb lighten-4 bg-white">-->
        <!--                <li class="breadcrumb-item"><a class="black-text" href="#"></a><i-->
        <!--                    class="fas fa-home"></i></a><i-->
        <!--                    class="fas mx-2"-->
        <!--                    aria-hidden="true"></i><i class="fas fa-angle-right mx-2"-->
        <!--                                              aria-hidden="true"></i></li>-->
        <!--                <li class="breadcrumb-item"><a class="black-text" href="#">Library</a><i class="fas fa-angle-right mx-2"-->
        <!--                                                                                         aria-hidden="true"></i></li>-->
        <!--                <li class="breadcrumb-item active">Data</li>-->
        <!--            </ol>-->
        <!--        </nav>-->
        <nav aria-label="breadcrumb" class="small">
            <ol class="breadcrumb bg-white small" style="">
                <li class="breadcrumb-item"><a class="black-text breadcrumb-size" href="/"><i
                    class="fas fa-home"></i></a>
                </li>
                <li><i
                    class="fas fa-caret-right mx-2"
                    aria-hidden="true"></i></li>
                <li class="breadcrumb-item active breadcrumb-size"><a class="black-text text-uppercase"
                                                                      style=" font-weight: bold" href="#">LIÊN HỆ</a>
                </li>
            </ol>
        </nav>
    </div>
    <!--    Hết thanh điều hướng phụ-->
    <!--    main contact-->
    <!--    wraper contact-->
    <div class="">
        <div class="row d-flex flex-wrap">
            <div class="item col-6 w-100">
                <img style="width: 100%"
                     src="https://cms.luatvietnam.vn/uploaded/Images/Original/2020/01/17/gia-nhan-cong-xay-dung_1701151934.jpg"
                     alt="">
            </div>
            <div class="item col-6 w-100">
                <div class="">
                    <h3 class="text-uppercase">thông tin liên hệ</h3>
                    <div class="mt-5">
                        <ul>
                            <li>
                                <p>CÔNG TY XÂY DỰNG TMĐT NHÀ XINH</p>
                                <p>Địa chỉ: 254/5/41 Lê Văn Thọ, P.11, Q. Gò Vấp, TP HCM</p>
                                <p>Số Điện Thoại: 0935 671 886 </p>
                                <p>Email: xaydungnhaxinh72@gmail.com</p>
                                <p>Website: nhaxinh.asia</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    end wraper contact-->
    <!--Section: Contact v.2-->
    <section class="mb-4">

        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us
            directly. Our team will come back to you within
            a matter of hours to help you.</p>

        <div class="row">

            <!--Grid column-->
            <div class="col-md-9 mb-md-0 mb-5">
                <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="name" name="name" class="form-control">
                                <label for="name" class="">Your name</label>
                            </div>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="email" name="email" class="form-control">
                                <label for="email" class="">Your email</label>
                            </div>
                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <input type="text" id="subject" name="subject" class="form-control">
                                <label for="subject" class="">Subject</label>
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-12">

                            <div class="md-form">
                                <textarea type="text" id="message" name="message" rows="2"
                                          class="form-control md-textarea"></textarea>
                                <label for="message">Your message</label>
                            </div>

                        </div>
                    </div>
                    <!--Grid row-->

                </form>

                <div class="text-center text-md-left">
                    <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
                </div>
                <div class="status"></div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>San Francisco, CA 94126, USA</p>
                    </li>

                    <li><i class="fas fa-phone mt-4 fa-2x"></i>
                        <p>+ 01 234 567 89</p>
                    </li>

                    <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                        <p>contact@mdbootstrap.com</p>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

        </div>
    </section>
    <!--Section: Contact v.2-->

    <!--    end main contact-->
</div>


<!--end content-->

<!--start footer-->
<footer class="page-footer font-small pt-2 container">

    <!-- Footer Links -->
    <div class="container text-center text-md-left" style="max-width: 90%">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-4 mx-auto mt-3">
                <div class="row ">
                    <img class="col-auto" src="/RealEstateWeb/public/img/logo.svg">
                    <h5 class="col-auto  text-uppercase mb-2 mt-2 font-weight-bold main-color">Real
                        Estate
                        Gig</h5>
                </div>
                <p style="color: #656565; margin-top: 2%">Real Estate Gig là đơn vị chuyên thi công thiết kế xây dựng,
                    trang trí nội

                    ngoại thất công trình với nhiều năm kinh nghiệm.</p>
                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-fb mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="hoverable btn-floating btn-email mx-1">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <img class="hoverable mx-1" src="/RealEstateWeb/public/img/snapedit_1694631625483.png"
                                 style="width: 50px">
                        </li>
                    </ul>
                </div>
                <!-- end Social Buttons -->
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold" style="color: #4A4A4A">Thông tin liên
                    <hệ></hệ>
                </h6>
                <p>
                    <span style="color: #656565">Địa chỉ: 254/5/41 Lê Văn Thọ, P.11, Q. Gò Vấp, TP. HCM</span>
                </p>
                <p>
                    <span style="color: #656565">Số Điện Thoại: 0935 671 886</span>
                </p>
                <p>
                    <span style="color: #656565">Email: RealEstateGig@gmail.com</span>
                </p>
                <p>
                    <span style="color: #656565">Website: RealEstateGig.com</span>
                </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold" style="color: #4A4A4A">Thông tin dịch vụ</h6>
                <p>
                    <a class="f-link" href="#!">Thiết kế, xây dựng nội thất</a>
                </p>
                <p>
                    <a class="f-link" href="#!">Xây nhà thô</a>
                </p>
                <p>
                    <a class="f-link" href="#!">Xây biệt thự</a>
                </p>
                <p>
                    <a class="f-link " href="#!">Xây hầm</a>
                </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->

            <!-- Grid column -->

        </div>
        <!-- Footer links -->


    </div>
    <!-- Footer Links -->

</footer>
<!--end footer-->


<!--start script -->
<!-- end script-->


<script src="resources/views/template/js/main.js"></script>
<script src="public/lib/MDB_4_pro/js/jquery.min.js"></script>
<script src="public/lib/MDB_4_pro/js/popper.min.js"></script>
<script src="public/lib/MDB_4_pro/js/bootstrap.min.js"></script>
<script src="public/lib/MDB_4_pro/js/mdb.min.js"></script>
<script src="public/lib/MDB_4_pro/js/mdb.lite.min.js"></script>

</body>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="public/lib/MDB_4_pro/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/lib/MDB_4_pro/css/mdb.lite.min.css" rel="stylesheet">
    <link href="public/lib/MDB_4_pro/css/mdb.min.css" rel="stylesheet">
    <link href="public/lib/MDB_4_pro/css/style.css" rel="stylesheet">
    <!--<link href="/lib/fontawesome-free-6.4.2-web/css/fontawesome.min.css" rel="stylesheet"> -->
    <link href="public/lib/fontawesome-free-6.4.2-web/css/all.min.css" rel="stylesheet">
    <!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">-->
</head>
</html>
