<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="public/lib/MDB_4_pro/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/lib/MDB_4_pro/css/mdb.lite.min.css" rel="stylesheet">
    <link href="public/lib/MDB_4_pro/css/mdb.min.css" rel="stylesheet">
    <link href="public/lib/MDB_4_pro/css/style.css" rel="stylesheet">
    <!--<link href="/lib/fontawesome-free-6.4.2-web/css/fontawesome.min.css" rel="stylesheet"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">

</head>
<body>
<!--start header-->

<!--end header-->

<!--start Navigation-->

<nav class="navbar navbar-expand-lg navbar-light white sticky-top nav-property">
    <a class="navbar-brand ml-5 mr-0 pl-5 pr-2 pt-1 pb-1 "
       href="http://localhost/RealEstateWeb/template_main">
        <div class="navbar-brand flex-center justify-content-between ">
            <img class="mr-3 ml-4 " src="/RealEstateWeb/public/img/logo.svg" style="width: 60px">

            <h4 class=" text-uppercase mb-2 mt-2 font-weight-bold" style="color: #E90808">Real
                Estate
                Gig</h4>
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
            aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
        <ul class="navbar-nav border-left border-right">
            <li class="nav-item font-weight-bolder">
                <a class="nav-link nav-menuItem " href="/RealEstateWeb">Trang Chủ
                </a>
            </li>
            <li class="nav-item font-weight-bolder">
                <a class="nav-link nav-menuItem" id="nav-menuItem-active" href="#">Giới Thiệu</a>
            </li>
            <li class="nav-item dropdown nav-dropdownItem font-weight-bolder">
                <a class="nav-link nav-menuItem dropdown-toggle dropdown-submenu" id="navbarDropdownMenuLink-444"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Dịch vụ
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" style="font-size: 16px" href="#">Xây Nhà Thô</a>
                    <a class="dropdown-item" style="font-size: 16px" href="#">Xây Biệt Thự</a>
                    <a class="dropdown-item" style="font-size: 16px" href="#">Xây Nhà Xưởng</a>
                </div>
            </li>
            <li class="nav-item dropdown nav-dropdownItem font-weight-bolder">
                <a class="nav-link nav-menuItem dropdown-toggle" id="navbarDropdownMenuLink-555"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Dự án
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-555">
                    <a class="dropdown-item" style="font-size: 16px" href="#">Biệt Thự</a>
                    <a class="dropdown-item" style="font-size: 16px" href="#">Nhà Phố</a>
                    <a class="dropdown-item" style="font-size: 16px" href="#">Văn Phòng</a>
                </div>
            </li>
            <li class="nav-item font-weight-bolder">
                <a class="nav-link nav-menuItem " href="#">Liên Hệ</a>
            </li>
        </ul>
        <!--icon font ring-->
        <div class="phone-contain flex-center justify-content-between ">

            <div class="icon-phone-ring">
                <i class="fa-solid fa-phone"></i>
                <div class="circle-1"></div>
                <!--            <div class="circle-2"></div>-->
            </div>
            <p class="mt-1 ml-5 pl-3">0352033199</p></div>
    </div>
</nav>
<!--end Navigation-->

<!--start content-->

<div class="container" style="font-family: Inter-Regular, Arial, Helvetica, sans-serif">
    <!--        Thanh điều hướng phụ -->
    <div style=" margin-left: 10px; margin-top: 30px;" class="bc-icons-2">
        <nav aria-label="breadcrumb" class="small">
            <ol class="breadcrumb bg-white small" style="">
                <li class="breadcrumb-item"><a class="black-text breadcrumb-size" href="/"><i
                    class="fas fa-home"></i></a>
                </li>
                <li><i
                    class="fas fa-caret-right mx-2"
                    aria-hidden="true"></i></li>
                <li class="breadcrumb-item active breadcrumb-size"><a class="black-text text-uppercase"
                                                                      style=" font-weight: bold" href="#">GIỚI
                    THIỆU
                    CHUNG</a></li>
            </ol>
        </nav>

    </div>
    <section style="margin-top: 0px;" class="">

        <div style="display: flex;justify-content: center">
            <img style="width: 100%; margin-bottom: 20px; align-items: center"
                 src="https://ircdn.vingroup.net/storage/public/2019/07/DJI_0030-fixed2-mini-20190727T100030844048.jpg">
        </div>
        <div style="margin: 14px">

            <div style="text-align: justify; margin-right: 10px; margin-left: 10px; padding-top: 20px">
                <h3 class="text-uppercase">Xây dựng nhà đẹp - Công ty TNHH</h3>
                <p style="color: #656565"
                >Công ty TNHH Xây Dựng Nhà Đẹp là đơn vị chuyên thi công
                    thiết kế xây dựng, trang trí nội ngoại thất công trình với nhiều năm kinh nghiệm trong lĩnh vực
                    thiết kế
                    và thi công xây dựng các công trình dân dụng, nhà phố, thiết kế nội thất shoowroom, spa,…. tại Tp.
                    Hồ
                    Chí Minh và các tỉnh lân cận trong khu vực miền nam.

                </p>
            </div>

        </div>
    </section>
</div>
<div class="container">
    <main class="my-5">
        <div class="container">
            <section class="text-center">
                <div class="row g-4 g-lg-5">
                    <div class="col-lg-4 col-md-12">
                        <div class="card" style="margin-bottom: 80px" style="margin-bottom: 80px">
                            <div
                                class="bg-image hover-overlay ripple"
                                data-mdb-ripple-color="light"
                            >
                                <img
                                    src="https://mdbootstrap.com/img/new/standard/nature/125.jpg"
                                    class="img-fluid"
                                />
                                <a href="#!">
                                    <div
                                        class="mask"
                                        style="background-color: rgba(251, 251, 251, 0.15)"
                                    ></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <div style="height: 80px">
                                    <h5 class="card-title">NHÂN SỰ</h5>
                                </div>
                                <div class="" style=" height: 150px; text-align: justify">
                                    <p class="card-text">
                                        Trải qua chặng đường dài trưởng thành và phát triển, chính những con người XDND
                                        đã
                                        làm nên những giá trị tốt đẹp, đóng góp vào thành công của công ty hôm nay.
                                    </p>
                                </div>
                                <a href="#!" class="btn btn-primary btn-rounded btn-sm btn-red">XEM CHI TIẾT</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-12">
                        <div class="card" style="margin-bottom: 80px">
                            <div
                                class="bg-image hover-overlay ripple"
                                data-mdb-ripple-color="light"
                            >
                                <img
                                    src="https://mdbootstrap.com/img/new/standard/nature/101.jpg"
                                    class="img-fluid"
                                />
                                <a href="#!">
                                    <div
                                        class="mask"
                                        style="background-color: rgba(251, 251, 251, 0.15)"
                                    ></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <div style="height: 80px;">
                                    <h5 class="card-title">TẦM NHÌN, SỨ MỆNH VÀ GIÁ TRỊ CỐT LÕI</h5>
                                </div>
                                <div class="" style="text-align: justify;height: 150px">
                                    <p class="card-text">
                                       Vì một cuộc sống tốt đẹp hơn cho mọi người, chúng tôi phấn đấu trở thành công ty chuyên xây dựng bất động sản với phương châm luôn lấy chất lượng làm đầu
                                    </p>
                                </div>
                                <a href="#!" class="btn btn-primary btn-rounded btn-sm btn-red">XEM CHI TIẾT</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="card" style="margin-bottom: 80px">
                            <div
                                class="bg-image hover-overlay ripple"
                                data-mdb-ripple-color="light"
                            >
                                <img
                                    src="https://mdbootstrap.com/img/new/standard/nature/072.jpg"
                                    class="img-fluid"
                                />
                                <a href="#!">
                                    <div
                                        class="mask"
                                        style="background-color: rgba(251, 251, 251, 0.15)"
                                    ></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <div style="height: 80px">
                                    <h5 class="card-title">DỊCH VỤ ĐA DẠNG</h5>
                                </div>
                                <div style="height: 150px">

                                    <p class="card-text" style="text-align: justify">
                                        Chúng tôi cung cấp nhiều dịch vụ cho khách hàng lựa chọn bao gồm xây dựng nhà thô, xây dựng nhà xưởng,...
                                    </p>
                                </div>
                                <a href="#!" class="btn btn-primary btn-rounded btn-sm btn-red">XEM CHI TIẾT</a>
                            </div>
                        </div>
                    </div>


                </div>

            </section>
            <!--Section: Posts-->

            <!--end content-->

            <!--start footer-->
            <footer class="page-footer font-small pt-2 container">

                <!-- Footer Links -->
                <div class="container text-center text-md-left" style="max-width: 90%">

                    <!-- Footer links -->
                    <div class="row text-center text-md-left mt-3 pb-3">

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-3 col-xl-4 mx-auto mt-3">
                            <div class="row ">
                                <img class="col-auto" src="/RealEstateWeb/public/img/logo.svg">
                                <h5 class="col-auto  text-uppercase mb-2 mt-2 font-weight-bold main-color">Real
                                    Estate
                                    Gig</h5>
                            </div>
                            <p style="color: #656565; margin-top: 2%">Real Estate Gig là đơn vị chuyên thi công thiết kế
                                xây dựng,
                                trang trí nội

                                ngoại thất công trình với nhiều năm kinh nghiệm.</p>
                            <!-- Social buttons -->
                            <div class="text-center text-md-right">
                                <ul class="list-unstyled list-inline">
                                    <li class="list-inline-item">
                                        <a class="btn-floating btn-fb mx-1">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="hoverable btn-floating btn-email mx-1">
                                            <i class="fas fa-envelope"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <img class="hoverable mx-1"
                                             src="/RealEstateWeb/public/img/snapedit_1694631625483.png"
                                             style="width: 50px">
                                    </li>
                                </ul>
                            </div>
                            <!-- end Social Buttons -->
                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none">

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold" style="color: #4A4A4A">Thông tin liên
                                <hệ></hệ>
                            </h6>
                            <p>
                                <span
                                    style="color: #656565">Địa chỉ: 254/5/41 Lê Văn Thọ, P.11, Q. Gò Vấp, TP. HCM</span>
                            </p>
                            <p>
                                <span style="color: #656565">Số Điện Thoại: 0935 671 886</span>
                            </p>
                            <p>
                                <span style="color: #656565">Email: RealEstateGig@gmail.com</span>
                            </p>
                            <p>
                                <span style="color: #656565">Website: RealEstateGig.com</span>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none">

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold" style="color: #4A4A4A">Thông tin dịch
                                vụ</h6>
                            <p>
                                <a class="f-link" href="#!">Thiết kế, xây dựng nội thất</a>
                            </p>
                            <p>
                                <a class="f-link" href="#!">Xây nhà thô</a>
                            </p>
                            <p>
                                <a class="f-link" href="#!">Xây biệt thự</a>
                            </p>
                            <p>
                                <a class="f-link " href="#!">Xây hầm</a>
                            </p>
                        </div>

                        <!-- Grid column -->
                        <hr class="w-100 clearfix d-md-none">

                        <!-- Grid column -->

                        <!-- Grid column -->

                    </div>
                    <!-- Footer links -->


                </div>
                <!-- Footer Links -->

            </footer>
            <!--end footer-->

            <script src="resources/views/template/js/main.js"></script>
            <script src="public/lib/MDB_4_pro/js/jquery.min.js"></script>
            <script src="public/lib/MDB_4_pro/js/popper.min.js"></script>
            <script src="public/lib/MDB_4_pro/js/bootstrap.min.js"></script>
            <script src="public/lib/MDB_4_pro/js/mdb.min.js"></script>
            <script src="public/lib/MDB_4_pro/js/mdb.lite.min.js"></script>
</body>
</html>
