<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/lib/MDB_4_pro/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/MDB_4_pro/css/mdb.lite.min.css" rel="stylesheet">
    <link href="/lib/MDB_4_pro/css/mdb.min.css" rel="stylesheet">
    <link href="/lib/MDB_4_pro/css/style.css" rel="stylesheet">
    <!--<link href="/lib/fontawesome-free-6.4.2-web/css/fontawesome.min.css" rel="stylesheet"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">

</head>
<body>
<!--start header-->

<!--end header-->

<!--start Navigation-->

<!--end Navigation-->

<!--start content-->

<div>
    <!--        Thanh điều hướng phụ -->
</div>

<section style="margin-top: 30px">
    <div style="margin: 10px">
        <!--           Nội dung     -->
        <div style="text-align: center;" >
            <!--        Tiêu đề-->
            <h1 style="color: red; font: bold; font-size: 5vw"><span>GIỚI THIỆU VỀ CHÚNG TÔI</span></h1>
        </div>

        <div style="text-align: justify">
            <!-- Chi tiết-->
            <p style="
                box-sizing: border-box;
                margin-top: 0px;
                margin-bottom: 15px;
                line-height: 22px;
                font-size: 1vw;
                font-family: arial;
                background-color: rgb(255, 255, 255);"
            >
            </p>
            <p style="
                box-sizing: border-box;
                margin-top: 0px;
                margin-bottom: 15px;
                line-height: 22px;
                font-size: 16px;
                font-family: arial;
                background-color: rgb(255, 255, 255);"
            >CÔNG TY TNHH XÂY DỰNG THƯƠNG MẠI ĐẦU TƯ NHÀ XINH là đơn vị chuyên thi công
                thiết kế xây dựng, trang trí nội ngoại thất công trình với nhiều năm kinh nghiệm trong lĩnh vực thiết kế
                và thi công xây dựng các công trình dân dụng, nhà phố, thiết kế nội thất shoowroom, spa,…. tại Tp. Hồ
                Chí Minh và các tỉnh lân cận trong khu vực miền nam.

            </p>

            <p style="
                box-sizing: border-box;
                margin-top: 0px;
                margin-bottom: 15px;
                line-height: 22px;
                font-size: 16px;
                font-family: arial;
                background-color: rgb(255, 255, 255);"
            >
                Với đội ngũ thiết kế chuyên nghiệp gồm: Kiến Trúc Sư, Kỹ Sư, Chuyên Gia Nội Thất lành nghề, chúng tôi
                luôn đảm bảo công tác tư vấn, thiết kế đạt chất lượng qua các tiêu chí mang tính sáng tạo, hiện đại,
                chính xác và tiết kiệm tối ưu chi phí hoàn thiện cho quyền lợi của Quý Khách Hàng.


            </p>

            <p style="
                box-sizing: border-box;
                margin-top: 0px;
                margin-bottom: 15px;
                line-height: 22px;
                font-size: 16px;
                font-family: arial;
                background-color: rgb(255, 255, 255);"
            >
                Trong lĩnh vực thi công xây dựng, với lực lượng nhân sự chuyên nghiệp, lành nghề với nhiều năm kinh
                nghiệm và tâm huyết với nghề. Chúng tôi sẵn sàng cam kết với quý khách hàng về các chuẩn mực trong quá
                trình hợp tác và làm việc, mang đến một công trình hoàn hảo nhất với thông điệp đồng hành xây nên hạnh
                phúc cùng quý khách hàng.
            </p>

            <p style="text-align: center; box-sizing: border-box">
                <img src="https://images.barrons.com/im-95962?width=620&size=1.5" height="60%" width="60%">
            </p>

            <p style="
                box-sizing: border-box;
                margin-top: 0px;
                margin-bottom: 15px;
                line-height: 22px;
                font-size: 18px;
                font-family: arial;
                background-color: rgb(255, 255, 255);"
            >Với tiêu chí chuyên nghiệp trong công việc, tận tâm trong dịch vụ và chu
                đáo khi hậu mãi, Nhà Xinh luôn là một nhà thiết kế và nhà thầu chính được tín nhiệm hiện nay. Nhà Xinh
                đã thiết kế và thi công tất cả các hạng mục của hơn 800 công trình các loại như Biệt Thự, Cao ốc Văn
                Phòng, Siêu Thị, Khách Sạn, Nhà Phố, Spa, shoowroom…
            </p>
        </div>

    </div>
</section>
<!--end content-->

<!--start footer-->
<footer class="page-footer font-small pt-2">

    <!-- Footer Links -->
    <div class="container text-center text-md-left" style="max-width: 90%">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-4 mx-auto mt-3">
                <div class="row ">
                    <img class="col-auto" src="/img/logo.svg">
                    <h5 class="col-auto  text-uppercase mb-2 mt-2 font-weight-bold" style="color: #E90808">Real
                        Estate
                        Gig</h5>
                </div>
                <p style="color: #656565">Real Estate Gig là đơn vị chuyên thi công thiết kế xây dựng, trang trí nội
                    ngoại thất công trình với nhiều năm kinh nghiệm.</p>
                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-fb mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="hoverable btn-floating btn-email mx-1">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <img class="hoverable mx-1" src="/img/snapedit_1694631625483.png"
                                 style="width: 50px">
                            {{-- <i class="fab fa-google-plus-g"></i>--}}
                        </li>
                    </ul>
                </div>
                <!-- end Social Buttons -->
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold" style="color: #4A4A4A">Thông tin liên
                    <hệ></hệ>
                </h6>
                <p>
                    <span style="color: #656565">Địa chỉ: 254/5/41 Lê Văn Thọ, P.11, Q. Gò Vấp, TP. HCM</span>
                </p>
                <p>
                    <span style="color: #656565">Số Điện Thoại: 0935 671 886</span>
                </p>
                <p>
                    <span style="color: #656565">Email: RealEstateGig@gmail.com</span>
                </p>
                <p>
                    <span style="color: #656565">Website: RealEstateGig.com</span>
                </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold" style="color: #4A4A4A">Thông tin dịch vụ</h6>
                <p class="f-link">
                    <a class="f-link" href="#!">Thiết kế, xây dựng nội thất</a>
                </p>
                <p class="f-link">
                    <a class="f-link" href="#!">Xây nhà thô</a>
                </p>
                <p class="f-link">
                    <a class="f-link" href="#!">Xây biệt thự</a>
                </p>
                <p class="f-link">
                    <a class="f-link " href="#!">Xây hầm</a>
                </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            {{--
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">--}}
                {{-- <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>--}}
                {{-- <p>--}}
                    {{-- <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>--}}
                {{-- <p>--}}
                    {{-- <i class="fas fa-envelope mr-3"></i> info@gmail.com</p>--}}
                {{-- <p>--}}
                    {{-- <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>--}}
                {{-- <p>--}}
                    {{-- <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>--}}
                {{--
            </div>
            --}}
            <!-- Grid column -->

        </div>
        <!-- Footer links -->


    </div>
    <!-- Footer Links -->

</footer>
<!--end footer-->

<script src="/lib/MDB_4_pro/js/jquery.min.js"></script>
<script src="/lib/MDB_4_pro/js/popper.min.js"></script>
<script src="/lib/MDB_4_pro/js/bootstrap.min.js"></script>
<script src="/lib/MDB_4_pro/js/mdb.min.js"></script>
<script src="/lib/MDB_4_pro/js/mdb.lite.min.js"></script>
</body>
</html>
