<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/lib/fontawesome-free-6.4.2-web/css/all.min.css">
    <link rel="stylesheet" href="resources/views/template/css/login.css">
</head>

<body>
<div class="container" id="container">
    <div class="form-container sign-up">
        <form>
            <h1>Tạo tài khoản</h1>
            <div class="social-icons">
                <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
            </div>
            <span>Thông tin đăng nhập</span>
            <label>
                <input type="text" placeholder="Tên">
            </label>
            <label>
                <input type="email" placeholder="Tên tài khoản / Email">
            </label>
            <label>
                <input type="password" placeholder="Mật khẩu">
            </label>
            <button>Đăng kí</button>
        </form>
    </div>
    <div class="form-container sign-in">
        <div class="arrow-container">
            <a class="icon-arrow" href="http://localhost/RealEstateWeb/"><i class="fa-solid fa-arrow-left"></i></a>
        </div>
        <form>
            <h1>Đăng Nhập</h1>
            <div class="social-icons">
                <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
            </div>
            <span>Đã có tài khoản</span>
            <input type="email" placeholder="Tên người dùng / Email">
            <input type="password" placeholder="Mật khẩu">
            <a href="#">Quên mật khẩu?</a>
            <button>Đăng Nhập</button>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <div class="arrow-container">
                    <a class="icon-arrow" href="http://localhost/RealEstateWeb/"><i
                        class="fa-solid fa-arrow-left"></i></a>
                </div>
                <h1>Welcome Back!</h1>
                <p>Enter your personal details to use all site features</p>
                <button class="hidden" id="login">Đăng nhập</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Hello, Friend!</h1>
                <p>Register with your personal details to use all site features</p>
                <button class="hidden" id="register">Đăng kí</button>
            </div>
        </div>
    </div>
</div>

<script src="resources/views/template/js/login.js"></script>
</body>

</html>
