<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="public/lib/MDB_4_pro/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/lib/MDB_4_pro/css/mdb.lite.min.css" rel="stylesheet">
    <link href="public/lib/MDB_4_pro/css/mdb.min.css" rel="stylesheet">
    <link href="public/lib/MDB_4_pro/css/style.css" rel="stylesheet">
    <link href="resources/views/template/css/home.css" rel="stylesheet">
    <!--<link href="/lib/fontawesome-free-6.4.2-web/css/fontawesome.min.css" rel="stylesheet"> -->
    <link href="public/lib/fontawesome-free-6.4.2-web/css/all.min.css" rel="stylesheet">
    <link href="resources/views/template/css/swiper-bundle.min.css" rel="stylesheet">
</head>
<body>
<!--start header-->
<header>


</header>
<!--end header-->

<!--start Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top nav-property ">
    <div class="container">
        <a class="navbar-brand "
           href="http://localhost/RealEstateWeb/template_main">
            <div class="navbar-brand flex-center justify-content-between ">
                <img class="mr-3 ml-4 " src="/RealEstateWeb/public/img/logo.jpg" style="width: 60px">
                <h4 class=" text-uppercase mb-2 mt-2 font-weight-bold main-color">XÂY DỰNG NHÀ ĐẸP</h4>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
                aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse border-left row  align-items-center" id="navbarSupportedContent-555">
            <ul class="navbar-nav  col-9 border-right">
                <li class="nav-item nav-menuItem font-weight-bolder " id="nav-menuItem-active">
                    <a class="nav-link " href="http://localhost/RealEstateWeb/">Trang Chủ
                    </a>
                </li>
                <li class="nav-item nav-menuItem  font-weight-bolder">
                    <a class="nav-link " href="http://localhost/RealEstateWeb/intro">Giới Thiệu</a>
                </li>
                <li class="d-flex align-items-center nav-item
                nav-menuItem position-relative font-weight-bolder nav-dropdownItem"
                >
                        <a class="nav-link "
                           href="http://localhost/RealEstateWeb/services"
                           role="link"
                          >Dịch vụ
                        </a>
                        <i class="fa-solid fa-angle-down position-absolute  " style="color: #000000;"></i>
                        <div class="dropdown-menu mt-1 w-100">
                            <a class="dropdown-item" style="font-size: 16px" href="#">Xây Nhà Thô</a>
                            <a class="dropdown-item" style="font-size: 16px" href="#">Xây Biệt Thự</a>
                            <a class="dropdown-item" style="font-size: 16px" href="#">Xây Nhà Xưởng</a>
                        </div>

                </li>
                <li class="d-flex align-items-center nav-item
                nav-menuItem position-relative font-weight-bolder nav-dropdownItem"
                >
                    <a class="nav-link"
                       href="http://localhost/RealEstateWeb/project"
                       role="link"
                    >Dự án
                    </a>
                    <i class="fa-solid fa-angle-down position-absolute  " style="color: #000000;"></i>
                    <div class="dropdown-menu mt-1 w-100">
                        <a class="dropdown-item" style="font-size: 16px" href="#">Biệt Thự</a>
                        <a class="dropdown-item" style="font-size: 16px" href="#">Nhà Phố</a>
                        <a class="dropdown-item" style="font-size: 16px" href="#">Văn Phòng</a>
                    </div>
                </li>
                <li class="nav-item nav-menuItem font-weight-bolder">
                    <a class="nav-link" href="http://localhost/RealEstateWeb/contact">Liên Hệ</a>
                </li>
            </ul>
            <!--icon font ring-->
            <div class="phone-contain flex-center justify-content-center col-3">

                <div class="icon-phone-ring col-lg-6 col-md-6 col-sm-12 ">
                    <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-phone"></i>
                        <i class="circle-1"></i>
                        <!--            <div class="circle-2"></div>-->
                    </div>
                </div>
                <div>
                    <a class=" col-lg-6 col-md-6">0352033199</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--end Navigation-->

<!--start content-->

<!--start slide-->
<div id="carouselExampleControls" class="carousel slide mb-5" data-ride="carousel">

    <div class="container carousel-inner w-100">
        <div class="carousel-item active w-100">
            <img class="d-block w-100 " src="public/img/slide/slide-nha-xinh-1-4581.png"
                 alt="First slide">
        </div>
        <div class="carousel-item w-100">
            <img class="d-block w-100" src="public/img/slide/slider1440610-6934.png"
                 alt="Second slide">
        </div>
        <div class="carousel-item w-100">
            <img class="d-block w-100" src="public/img/slide/xay-dung-nha-xinh-1887.jpg"
                 alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!--end slide-->

<!--start introdution-->
<!--start introdution-->
<div class="section-about justify-content-between">
    <div class="container">
        <div class="row" style="margin: 0">
            <div class="col-md-6 col-lg-6 about-description">
                <div class="box-name">
                    CONSTRUCTION
                </div>
                <div class="box-slogan font-weight-bold pb-4 border-bottom">
                    CÔNG TY TNHH XÂY DỰNG THƯƠNG MẠI ĐẦU TƯ
                    <span style="color: #E90808">NHÀ XINH</span>
                </div>
                <div class="section-abouts__box-content">
                    <p style="text-align: justify;">
                    <span style="line-height:1.5;">
                    <span style="font-size:18px;">
                        <span style="word-spacing: 5px;color: #8D8D8D;">
                Chúng tôi là đơn vị chuyên thi công thiết kế xây dựng, trang trí nội ngoại thất công trình với nhiều năm kinh nghiệm trong lĩnh vực thiết kế và thi công xây dựng các công trình dân dụng, nhà phố, thiết kế nội thất shoowroom, spa,…. tại Tp. Hồ Chí Minh và các tỉnh lân cận trong khu vực miền Nam.</span></span></span>
                    </p>
                </div>
                <div class="box-btn d-flex align-items-center justify-content-center">
                    <a class="box-btn-left" href="http://localhost/RealEstateWeb/intro" title="XEM CHI TIẾT">
                        XEM CHI TIẾT
                        <i class="fas fa-arrow-right"></i>
                    </a>
                    <a class="box-btn-right pl-5" href="" title="XEM VIDEO">

                        <img class="pr-2" src="public/img/play_56.svg">
                        XEM PHIM

                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 about-image hover-image w-100">
                <img class="w-100 " src="public/img/main-intro.png">
            </div>
        </div>
    </div>
</div>

<!--end introdution-->


<!--start project-->
<section class="home-project">
    <div class="container">
        <div class="col wrapper-project " id="HomeProjectCategory">
            <div class="title flex-center ">
                <h3 class="text-uppercase mb-54">Dự án tiêu biểu</h3>
            </div>
            <div class="project-category">
                <ul class="category-menu d-flex align-items-center justify-content-center">
                    <li class="category-item active">
                        <button class="item-selector" type="villa" title="XÂY DỰNG BIỆT THỰ">
                            XÂY DỰNG BIỆT THỰ
                        </button>
                    </li>
                    <li class="category-item">
                        <button class="item-selector" type="townhouse" title="XÂY DỰNG NHÀ PHÔ">
                            XÂY DỰNG NHÀ PHỐ
                        </button>
                    </li>
                    <li class="category-item">
                        <button class="item-selector" type="factory" title="XÂY DỰNG NHÀ XƯỞNG">
                            XÂY DỰNG NHÀ XƯỞNG
                        </button>
                    </li>
                    <li class="category-item">
                        <button class="item-selector" type="office" title="XÂY DỰNG VĂN PHÒNG">
                            XÂY DỰNG VĂN PHÒNG
                        </button>
                    </li>
                </ul>
            </div>
            <main class="my-5">
                <div class="container">
                    <!--Section: Design Block-->
                    <section>
                        <div class="row" id="imageProjects">

                        </div>
                    </section>
                    <!--Section: Design Block-->
                </div>
            </main>
        </div>
    </div>
</section>
<!-- end project -->
<!--start service-->
<section class="service">
    <div class="slide-container swiper">
        <div class="slide-content">
            <h4 class="title">BẢNG GIÁ THI CÔNG</h4>
            <div class="card-wrapper swiper-wrapper">
                <a class="card-home swiper-slide">
                    <!--start image-->
                    <div class="image-content">
                        <div class="card-image ">
                            <div href="http://localhost/RealEstateWeb/service" class="img-container  ">
                                <div class="img-wrapper hover-image">
                                    <img src="public/img/main-service/xaydungphantho1e57-4555.jpg" alt=""
                                         class="card-img  ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- start image title-->
                    <div class="card-content">
                        <h4 class="text-uppercase">xây dựng phần thô</h4>
                    </div>
                </a>
                <div class="card-home swiper-slide">
                    <div class="image-content">
                        <div class="card-image ">
                            <div href="#" class="img-container  ">
                                <div class="img-wrapper hover-image">
                                    <img src="public/img/main-service/th2-792.png" alt=""
                                         class="card-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <h4 class="text-uppercase">xây dựng tầng hầm</h4>
                    </div>
                </div>
                <div class="card-home swiper-slide">
                    <div class="image-content">
                        <div class="card-image ">
                            <div href="#" class="img-container  ">
                                <div class="img-wrapper hover-image">
                                    <img src="public/img/main-service/tang-ham-1-9740.png" alt=""
                                         class="card-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <h4 class="text-uppercase">xây dựng nhà xưởng</h4>
                    </div>
                </div>
                <div class="card-home swiper-slide">
                    <div class="image-content">
                        <div class="card-image ">
                            <div href="#" class="img-container  ">
                                <div class="img-wrapper hover-image">
                                    <img src="public/img/main-service/th2-792.png" alt=""
                                         class="card-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <h4 class="text-uppercase">xây nhà trọn gói</h4>
                    </div>
                </div>
            </div>
        </div>
        <p class="swiper-pagination"></p>
    </div>
</section>
<!--end service-->
<!-- contact us-->
<div class="home-contact" style="margin-top: 40px">
    <!--Section: Contact v.1-->
    <section class="section pt-5 pb-5 container">
        <!--Section heading-->

        <!--Section description-->
        <div class="row">

            <!--Grid column-->
            <div class="col-lg-5 mb-4">
                <!--Form with header-->
                <div class="card">
                    <div class="card-body">
                        <!--Header-->
                        <!--Body-->
                        <div class="md-form">
                            <i class="fas fa-user prefix grey-text"></i>
                            <input type="text" id="form-name" class="form-control">
                            <label for="form-name">Your name</label>
                        </div>

                        <div class="md-form">
                            <i class="fas fa-envelope prefix grey-text"></i>
                            <input type="text" id="form-email" class="form-control">
                            <label for="form-email">Your email</label>
                        </div>

                        <div class="md-form">
                            <i class="fas fa-tag prefix grey-text"></i>
                            <input type="text" id="form-Subject" class="form-control">
                            <label for="form-Subject">Subject</label>
                        </div>

                        <div class="md-form">
                            <i class="fas fa-pencil-alt prefix grey-text"></i>
                            <textarea id="form-text" class="form-control md-textarea"
                                      rows="3"></textarea>
                            <label for="form-text">Icon Prefix</label>
                        </div>

                        <div class="text-center mt-4">
                            <button class="btn btn-red">Gửi ngay</button>
                        </div>
                    </div>
                </div>
                <!--Form with header-->

            </div>

            <div class="col-lg-7">

                <!--Google map-->
                <div id="map-container-google-11" class="z-depth-1-half map-container-6"
                     style="height: 300px">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4247.872564543886!2d106.79040908333542!3d10.870529759247004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276398969f7b%3A0x9672b7efd0893fc4!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBOw7RuZyBMw6JtIFRQLiBI4buTIENow60gTWluaA!5e0!3m2!1svi!2s!4v1695713054142!5m2!1svi!2s"
                        width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">

                    </iframe>
                </div>
            </div>
        </div>
    </section>
    <!--Section: Contact v.1-->
</div>
<!--end content-->

<!--start footer-->
<footer class="page-footer font-small pt-2">

    <!-- Footer Links -->
    <div class="container text-center text-md-left" style="max-width: 90%">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-4 mx-auto mt-3">
                <div class="row ">
                    <img class="col-auto" src="/RealEstateWeb/public/img/logo.svg">
                    <h5 class="col-auto  text-uppercase mb-2 mt-2 font-weight-bold main-color">Real
                        Estate
                        Gig</h5>
                </div>
                <p style="color: #656565; margin-top: 2%">Real Estate Gig là đơn vị chuyên thi công thiết kế xây dựng,
                    trang trí nội
                    ngoại thất công trình với nhiều năm kinh nghiệm.</p>
                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-fb mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="hoverable btn-floating btn-email mx-1">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="hoverable btn-floating mx-1">
                                <img class="hoverable-img mx-0 "
                                     src="/RealEstateWeb/public/img/snapedit_1694631625483.png"
                                     style="width: 45px">
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- end Social Buttons -->
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold" style="color: #4A4A4A">Thông tin liên
                    <hệ></hệ>
                </h6>
                <p>
                    <span style="color: #656565">Địa chỉ: 254/5/41 Lê Văn Thọ, P.11, Q. Gò Vấp, TP. HCM</span>
                </p>
                <p>
                    <span style="color: #656565">Số Điện Thoại: 0935 671 886</span>
                </p>
                <p>
                    <span style="color: #656565">Email: RealEstateGig@gmail.com</span>
                </p>
                <p>
                    <span style="color: #656565">Website: RealEstateGig.com</span>
                </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold" style="color: #4A4A4A">Thông tin dịch vụ</h6>
                <p>
                    <a class="f-link" href="#!">Thiết kế, xây dựng nội thất</a>
                </p>
                <p>
                    <a class="f-link" href="#!">Xây nhà thô</a>
                </p>
                <p>
                    <a class="f-link" href="#!">Xây biệt thự</a>
                </p>
                <p>
                    <a class="f-link " href="#!">Xây hầm</a>
                </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->

            <!-- Grid column -->

        </div>
        <!-- Footer links -->


    </div>
    <!-- Footer Links -->

</footer>
<!--end footer-->


<!--start script -->
<!-- end script-->

<!--<script type="module">-->
<!--   -->
<!--</script>-->
<script src="resources/views/template/js/swiper-bundle.min.js"></script>

<script src="public/lib/MDB_4_pro/js/jquery.min.js"></script>
<script src="public/lib/MDB_4_pro/js/popper.min.js"></script>
<script src="public/lib/MDB_4_pro/js/bootstrap.min.js"></script>
<script src="public/lib/MDB_4_pro/js/mdb.min.js"></script>
<script src="public/lib/MDB_4_pro/js/mdb.lite.min.js"></script>
<script src="resources/views/template/js/main.js"></script>
<script src="resources/views/template/js/FilterProject.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>-->
<!-- Define the symbols, these are invisible on the page -->

</body>
</html>
