<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="public/lib/MDB_4_pro/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/lib/MDB_4_pro/css/mdb.lite.min.css" rel="stylesheet">
    <link href="public/lib/MDB_4_pro/css/mdb.min.css" rel="stylesheet">
    <link href="public/lib/MDB_4_pro/css/style.css" rel="stylesheet">
    <link href="resources/views/template/css/project.css" rel="stylesheet">
    <!--<link href="/lib/fontawesome-free-6.4.2-web/css/fontawesome.min.css" rel="stylesheet"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">

</head>
<body>
<!--start header-->

<!--end header-->

<!--start Navigation-->
<nav class="navbar navbar-expand-lg navbar-light white sticky-top  nav-property justify-content-center">
    <div class="container">
        <a class="navbar-brand "
           href="http://localhost/RealEstateWeb/template_main">
            <div class="navbar-brand flex-center justify-content-between ">
                <img class="mr-3 ml-4 " src="/RealEstateWeb/public/img/logo.jpg" style="width: 60px">
                <h4 class=" text-uppercase mb-2 mt-2 font-weight-bold" style="color: #E90808">XÂY DỰNG NHÀ ĐẸP</h4>

            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
                aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse border-left row" id="navbarSupportedContent-555">
            <ul class="navbar-nav  justify-content-between col-9 border-right">
                <li class="nav-item nav-menuItem font-weight-bolder " id="nav-menuItem-active">
                    <a class="nav-link " href="#">Trang Chủ
                    </a>
                </li>
                <li class="nav-item nav-menuItem  font-weight-bolder">
                    <a class="nav-link " href="#">Giới Thiệu</a>
                </li>
                <li class="nav-item dropdown nav-menuItem nav-dropdownItem font-weight-bolder">
                    <a class="nav-link dropdown-toggle dropdown-submenu" id="navbarDropdownMenuLink-444"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Dịch vụ
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" style="font-size: 16px" href="#">Xây Nhà Thô</a>
                        <a class="dropdown-item" style="font-size: 16px" href="#">Xây Biệt Thự</a>
                        <a class="dropdown-item" style="font-size: 16px" href="#">Xây Nhà Xưởng</a>
                    </div>
                </li>
                <li class="nav-item dropdown nav-menuItem nav-dropdownItem font-weight-bolder">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-555" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Dự án
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-555">
                        <a class="dropdown-item" style="font-size: 16px" href="#">Biệt Thự</a>
                        <a class="dropdown-item" style="font-size: 16px" href="#">Nhà Phố</a>
                        <a class="dropdown-item" style="font-size: 16px" href="#">Văn Phòng</a>
                    </div>
                </li>
                <li class="nav-item nav-menuItem font-weight-bolder">
                    <a class="nav-link" href="#">Liên Hệ</a>
                </li>
            </ul>
            <!--icon font ring-->
            <div class="phone-contain flex-center justify-content-between col-2">

                <div class="icon-phone-ring">
                    <i class="fa-solid fa-phone"></i>
                    <div class="circle-1"></div>
                    <!--            <div class="circle-2"></div>-->
                </div>
                <p class="mt-1 ml-5 pl-3">0352033199</p></div>
        </div>
    </div>
</nav>
<!--end Navigation-->

<!--start content-->

<!--Thanh điều hướng-->
<div>
    <div class="bc-icons-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white breadcrumb-font">
                <li class="breadcrumb-item p-0"><a class="black-text breadcrumb-size" href="/"><i
                    class="fas fa-home"></i></a>
                    <i class="fas fa-caret-right mx-2" aria-hidden="true"></i></li>
                <li class="breadcrumb-item breadcrumb-size p-0">
                    <a class="black-text text-uppercase" href="#">Dự án</a>
                    <!--                    <i class="fas fa-caret-right mx-2" aria-hidden="true"></i>-->
                </li>
                <!--                <li class="breadcrumb-item active breadcrumb-size p-0">-->
                <!--                    <a class="black-text text-uppercase" href="#">Dịch vụ xây nhà phân thô - Nhà Đẹp</a></li>-->
            </ol>
        </nav>
    </div>
</div>
<!-- End Thanh điều hướng-->

<main class="my-5">
    <div class="container">
        <div class="sub-container">
            <section>
                <h1 class="text-center mb-5"
                    style="color:#E90808; font-family: Inter,Arial, Helvetica, sans-serif; font-weight: 700;">Dự án</h1>
                <form class="filter">
                    <div class="item">
                        <label>Category</label>
                        <select name="category">
                            <option value="">---</option>
                            <option value="villa">villa</option>
                            <option value="factory">factory</option>
                            <option value="office">office</option>
                        </select>
                    </div>
                    <div class="item">
                        <label>Color</label>
                        <select name="color">
                            <option value="">---</option>
                            <option value="white">white</option>
                            <option value="black">black</option>
                            <option value="grey">grey</option>
                            <option value="blue">blue</option>
                            <option value="brown">brown</option>
                        </select>
                    </div>
                    <!--                <div class="item">-->
                    <!--                    <label>Name</label>-->
                    <!--                    <input name="name" type="text">-->
                    <!--                </div>-->
                    <!--                <div class="item">-->
                    <!--                    <label>Min Price</label>-->
                    <!--                    <input name="minPrice" type="number">-->
                    <!--                </div>-->
                    <!--                <div class="item">-->
                    <!--                    <label>Max Price</label>-->
                    <!--                    <input name="maxPrice" type="number">-->
                    <!--                </div>-->
                    <div class="item submit">
                        <button>Search</button>
                    </div>
                </form>

                <div class="row">
                    <!--                    <div class="col-lg-3 col-md-6 mb-4">-->
                    <!--                        <div class="bg-image hover-zoom ripple shadow-1-strong rounded-5 bg-img">-->
                    <!--                            <a href="#">-->
                    <!--                                <div class="hover-img">-->
                    <!--                                    <img src="https://nhaxinh.asia/upload/baiviet/screenshot-20230819-164628-3831.png"-->
                    <!--                                         class="w-100 h-100 imgProduct"/>-->
                    <!--                                </div>-->
                    <!--                                <div class="overplay">-->
                    <!--                                    <div class="text ">-->
                    <!--                                        <h2 class="titleProduct">PHỐI CẢNH AN THIÊN</h2>-->
                    <!--                                        <p class="contentProduct">-->
                    <!--                                            Là một không gian làm việc đẳng cấp, tạo môi trường khuyến khích sự sáng tạo-->
                    <!--                                            và-->
                    <!--                                            đổi mới.-->
                    <!--                                        </p>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                            </a>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>
                <div class="row" id="list">

                </div>

            </section>

        </div>
        <!--Section: Design Block-->

        <!--Section: Design Block-->
    </div>
</main>

<!--end content-->

<!--start footer-->
<footer class="page-footer font-small pt-2">

    <!-- Footer Links -->
    <div class="container text-center text-md-left" style="max-width: 90%">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-4 mx-auto mt-3">
                <div class="row ">
                    <img class="col-auto" src="/RealEstateWeb/public/img/logo.svg">
                    <h5 class="col-auto  text-uppercase mb-2 mt-2 font-weight-bold main-color">Real
                        Estate
                        Gig</h5>
                </div>
                <p style="color: #656565; margin-top: 2%">Real Estate Gig là đơn vị chuyên thi công thiết kế xây dựng,
                    trang trí nội
                    ngoại thất công trình với nhiều năm kinh nghiệm.</p>
                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-fb mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="hoverable btn-floating btn-email mx-1">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="hoverable btn-floating mx-1">
                                <img class="hoverable-img mx-0 "
                                     src="/RealEstateWeb/public/img/snapedit_1694631625483.png"
                                     style="width: 45px">
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- end Social Buttons -->
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold" style="color: #4A4A4A">Thông tin liên
                    <hệ></hệ>
                </h6>
                <p>
                    <span style="color: #656565">Địa chỉ: 254/5/41 Lê Văn Thọ, P.11, Q. Gò Vấp, TP. HCM</span>
                </p>
                <p>
                    <span style="color: #656565">Số Điện Thoại: 0935 671 886</span>
                </p>
                <p>
                    <span style="color: #656565">Email: RealEstateGig@gmail.com</span>
                </p>
                <p>
                    <span style="color: #656565">Website: RealEstateGig.com</span>
                </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold" style="color: #4A4A4A">Thông tin dịch vụ</h6>
                <p>
                    <a class="f-link" href="#!">Thiết kế, xây dựng nội thất</a>
                </p>
                <p>
                    <a class="f-link" href="#!">Xây nhà thô</a>
                </p>
                <p>
                    <a class="f-link" href="#!">Xây biệt thự</a>
                </p>
                <p>
                    <a class="f-link " href="#!">Xây hầm</a>
                </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->

            <!-- Grid column -->

        </div>
        <!-- Footer links -->


    </div>
    <!-- Footer Links -->

</footer>
<!--end footer-->
<script src="resources/views/template/js/FilterProject.js"></script>
<script src="public/lib/MDB_4_pro/js/jquery.min.js"></script>
<script src="public/lib/MDB_4_pro/js/popper.min.js"></script>
<script src="public/lib/MDB_4_pro/js/bootstrap.min.js"></script>
<script src="public/lib/MDB_4_pro/js/mdb.min.js"></script>
<script src="public/lib/MDB_4_pro/js/mdb.lite.min.js"></script>
</body>
</html>
