body {
    font-family: Inter-Regular, Arial, Helvetica, sans-serif;
}

#section-3 {
    margin-top: 40px;
}

#breadcrumb {
    margin-left: 10px;
    margin-top: 30px;
}

.logo {
    width: 60px
}

.redbockdoor {
    color: #E90808;
}

.listContent .editContent {
    /*padding: 0px;*/
}

.listContent li {
    list-style: none;
    font-size: 14px;
}
