
body {
    font-family: Inter-Regular, Arial, Helvetica, sans-serif
}

#section-1 {
    margin-left: 10px;
    margin-top: 30px;
}

#section-2 {
    margin-top: 0px;
    margin-bottom: 20px;
}

#section-2 .background {
    width: 100%;
}

#section-3 {
    text-align: justify;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 20px;
}

.bockdoor {
    color: #E90808;
}

.black-brown-text {
    color: #656565;
}
