
body {
    min-height: 100vh;
    font-family: Inter, Arial, Helvetica, sans-serif !important;;
    margin: 0;
}

.container .sub-container {
    background-color: white;
    width: auto;
    max-width: 100%;
    margin: 50px auto 0;
    border-radius: 10px;
}

.filter {
    padding: 50px;
    display: grid;
    grid-template-columns: 32.666% 32.666% 32.666%;
    column-gap: 1%;
    row-gap: 10px;
}

.filter .item {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter .item select,
.filter .item input,
.filter .item button {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: transparent;
    border-left: 1px solid #ddd;
    outline: none;
}

.filter .item label {
    display: block;
    width: 40%;
    padding: 0 10px;
}

.filter .item.submit button {
    background-color: #E90808;
    color: #fff;
}

/* end filter */

.hover-img {
    overflow: hidden;
    position: relative;
    width: 100% !important;
    height: 100% !important;
}

.hover-img:hover:before {
    animation: shine 1s;
}

.hover-img .imgProduct {
    transition: all 0.8s;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.hover-img:hover .imgProduct {
    transform: scale(1.2);
}

.hover-img:hover:before {
    position: absolute;
    top: 0;
    left: -80%;
    z-index: 2;
    display: block;
    content: "";
    width: 20%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(0deg);
    transform: skewX(-35deg);
}

@keyframes shine {
    from {
        left: -35%;
    }

    to {
        left: 125%
    }
}


.bg-img {
    position: relative;
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
}

.bg-img .overplay {
    position: absolute;
    top: 100% !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: rgba(0, 0, 0, 0.6);
    transition: top 0.5s ease;
}

.bg-img:hover .overplay {
    top: 0 !important;
}

.bg-img .text {
    position: absolute;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%!important;
    color: white;
    transition: top 0.3s ease;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
}

.text .titleProduct {
    font-size: 20px;
    margin-bottom: 10px;
    transform: translateX(1%); /* Đưa tiêu đề về giữa theo chiều ngang */
}

.bg-img:hover .text {
    opacity: 2;
}

.bg-img:hover .text {
    bottom: 0; /* Hiển thị nội dung khi hover */
}

.text .contentProduct {
    font-size: 14px; /* Kích thước cho nội dung */
}

.overplay {
    font-family: Inter, Arial, Helvetica, sans-serif !important;
}

.bc-icons-2 {
    margin-left: 15%;
    margin-top: 30px;
}
