<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="\RealEstateWebHTML\untitled\public\lib\MDB_4_pro\css\bootstrap.min.css" rel="stylesheet">
    <link href="\RealEstateWebHTML\untitled\public\lib\MDB_4_pro\css\mdb.min.css" rel="stylesheet">
    <link href="\RealEstateWebHTML\untitled\public\lib\MDB_4_pro\css\style.css" rel="stylesheet">
    <link href="\RealEstateWebHTML\untitled\resources\views\template\css\admin-nav-bar.css" rel="stylesheet">
    <link href="\RealEstateWebHTML\untitled\public\lib\fontawesome-free-6.4.2-web\css\all.min.css" rel="stylesheet">
    <link href="\RealEstateWebHTML\untitled\resources\views\template\css\add_project_manage.css" rel="stylesheet">
    <link href="\RealEstateWebHTML\untitled/public/lib/DataTables/DataTables-1.13.6/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="\RealEstateWebHTML\untitled/public/lib/DataTables/dataTables.min.css" rel="stylesheet">
</head>
<body class="">

<!-- Sidebar navigation -->
<div class="wrapper">
    <div class="header fixed-top ">
        <div class="header-menu row m-0">
            <div class="col-11 d-flex align-items-center">
                <div class="sidebar-btn mr-3">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="title text-uppercase font-weight-bolder">
                    Xây dựng <span>Nhà Đẹp</span></div>
            </div>
            <ul class="col-1 d-flex align-items-center m-0">
                <li><a href="#"><i class="fas fa-sign-out-alt"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="sidebar">
        <div class="sidebar-menu">
            <center class="logo">
                <img src="\RealEstateWebHTML\untitled/public/img/logo.svg" alt="logo" style="">
            </center>
            <li class="sidebar-item">
                <a href="#" class="menu-btn">
                    <i class="fas fa-desktop"></i><span>Thống kê</span>
                </a>
            </li>
            <li class="sidebar-item" id="user">
                <a href="#user" class="menu-btn">
                    <i class="fas fa-user-circle"></i><span>QL Người dùng</span>
                </a>
            </li>
            <li class="sidebar-item" id="project">
                <a href="#project" class="menu-btn">
                    <i class="fa-solid fa-building"></i><span>QL Dự án <i
                    class="m-0 fas fa-chevron-circle-down drop-down"></i></span>
                </a>
                <div class="sub-menu">
                    <a href="#type-project" class="menu-btn">
                        <i class="fa-solid fa-building m-0"> </i> <i class="fa-solid fa-folder-tree"></i><span>QL loại dự án</span>
                    </a>
                    <a href="#blog-project" class="menu-btn">
                        <i class="fa-solid fa-newspaper"></i><span>QL Bài viết dự án</span>
                    </a>
                </div>
            </li>

            <li class="sidebar-item" id="type-project">
                <a href="#type-project" class="menu-btn">
                    <i class="fa-solid fa-toolbox"></i><span>QL Dịch vụ<i
                    class="m-0 fas fa-chevron-circle-down drop-down"></i></span>
                </a>
                <div class="sub-menu">
                    <a href="#blog-service" class="menu-btn">
                        <i class="fa-solid fa-newspaper"></i><span>QL Bài viết dịch vụ</span>
                    </a>
                </div>
            </li>
            <li class="sidebar-item" id="contact">
                <a href="#contact" class="menu-btn">
                    <i class="fa-solid fa-file-contract"></i></i><span>QL tương tác<i
                    class="m-0 fas fa-chevron-circle-down drop-down"></i></span>
                </a>
                <div class="sub-menu">
                    <a href="#type-contact" class="menu-btn">
                        <i class="fa-solid fa-file-contract"></i><span>QL Loại tương tác</span>
                    </a>
                </div>
            </li>
            <li class="sidebar-item" id="slide">
                <a href="#slide" class="menu-btn">
                    <i class="fa-regular fa-clone"></i><span>QL slide</span></span>
                </a>
            </li>
        </div>
    </div>
    <div class="main-container">
        <div class="content-header">
            <h2 class="title text-uppercase addSlider">Thêm Projects</h2>
            <button id="saveBtn" class="btn btn-orange"></i>Lưu</button>
        </div>
        <div class="col-md-12 col-lg-12 col-xl-12">
            <ul class="nav md-pills nav-justified pills-warning mb-4">
                <li class="nav-item pl-0">
                    <a class="nav-link active " data-toggle="tab" href="#panel104" role="tab">Thông tin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panel105" role="tab">Bài viết</a>
                </li>
            </ul>
            <div class="container">
                <!-- Tab panels -->
                <div class="tab-content card">
                    <!--Panel 1-->
                    <div class="tab-pane fade in show active" id="panel104" role="tabpanel">
                        <div class="row flex-center">
                            <div class="col-lg-11 mb-4">
                                <div class="card-body">
                                    <div class="mb-4">
                                        <label for="name" class="labels">Tiêu đề</label>
                                        <input id="name" type="text" class="form-control"
                                               placeholder="Tiêu đề" value="">
                                    </div>
                                    <div class="mb-4">
                                        <label for="status" class="labels">Trạng thái</label>
                                        <select id="status" class="browser-default custom-select">
                                            <option value="1">Kích hoạt</option>
                                            <option value="2">Ẩn</option>
                                        </select>
                                    </div>
                                    <div class="mb-4">
                                        <label for="id" class="labels">STT</label>
                                        <fieldset>
                                            <input id="id" type="text" class="form-control"
                                                   placeholder="STT" value="">
                                        </fieldset>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Tải hình</label>
                                        <form class="md-form mr-0" action="#">
                                            <div class="file-field">
                                                <div class="btn btn-primary btn-sm float-left">
                                                    <span>Chọn hình</span>
                                                    <input type="file" multiple>
                                                </div>
                                                <div class="file-path-wrapper">
                                                    <input class="file-path validate" type="text"
                                                           placeholder="Upload one or more files">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.Panel 1-->
                    <div class="tab-pane fade" id="panel105" role="tabpanel">
                        <form>
                            <label for="editor1"></label>
                            <textarea name="editor1" id="editor1" rows="10" cols="80"></textarea>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->
</div>
<!--/. Sidebar navigation -->
</body>


<script src="\RealEstateWebHTML\untitled/public/lib/MDB_4_pro/js/jquery.min.js"></script>
<script src="\RealEstateWebHTML\untitled/public/lib/MDB_4_pro/js/popper.min.js"></script>
<script src="\RealEstateWebHTML\untitled/public/lib/MDB_4_pro/js/bootstrap.min.js"></script>
<script src="\RealEstateWebHTML\untitled/public/lib/MDB_4_pro/js/mdb.min.js"></script>
<script src="\RealEstateWebHTML\untitled/public/lib/DataTables/DataTables-1.13.6/js/jquery.dataTables.min.js"></script>
<script src="\RealEstateWebHTML\untitled/public/lib/DataTables/DataTables-1.13.6/js/dataTables.bootstrap4.min.js"></script>
<script src="\RealEstateWebHTML\untitled/public/lib/ckeditor_4.22.1_standard/ckeditor/ckeditor.js"></script>

<script>
    (function ($) {
        $.fn.counter = function () {
            const $this = $(this),
                numberFrom = parseInt($this.attr('data-from')),
                numberTo = parseInt($this.attr('data-to')),
                delta = numberTo - numberFrom,
                deltaPositive = delta > 0 ? 1 : 0,
                time = parseInt($this.attr('data-time')),
                changeTime = 10;

            let currentNumber = numberFrom,
                value = delta * changeTime / time;
            var interval1;
            const changeNumber = () => {
                currentNumber += value;
                //checks if currentNumber reached numberTo
                (deltaPositive && currentNumber >= numberTo) || (!deltaPositive && currentNumber <= numberTo) ? currentNumber = numberTo : currentNumber;
                this.text(parseInt(currentNumber));
                currentNumber == numberTo ? clearInterval(interval1) : currentNumber;
            }

            interval1 = setInterval(changeNumber, changeTime);
        }
    }(jQuery));

    $(document).ready(function () {

        $('.count-up').counter();
        $('.count1').counter();
        $('.count2').counter();
        $('.count3').counter();

        new WOW().init();

        setTimeout(function () {
            $('.count5').counter();
        }, 3000);
    });
</script>
<script>
    $(document).ready(function () {
        $(".sidebar-btn").click(function () {
            $(".wrapper").toggleClass("mycollapse");
        });
    });</script>
<script>
    document.getElementById('status').addEventListener('change', function () {
        var selectedStatus = this.value;

        var idField = document.getElementById('id');

        if (selectedStatus === '1') {
            idField.disabled = false;
        } else {
            idField.disabled = true;
        }
    });
</script>
<script>
    CKEDITOR.replace('editor1');
    CKEDITOR.config.height = 500;
</script>
</html>
